
Paste in citation strings to be parsed. Separate multiple citations by a newline.
<%= form_tag :controller => "citations", :action => "create" %>
<textarea cols="80" id="citation_string" name="citation[string]" rows="10">
Udvarhelyi, I.S., Gatsonis, C.A., Epstein, A.M., Pashos, C.L., Newhouse, J.P. and McNeil, B.J. Acute Myocardial Infarction in the Medicare population: process of care and clinical outcomes. Journal of the American Medical Association, 1992; 18:2530-2536.
</textarea>
<%= submit_tag "Parse!" %>
</form>

